argh==0.26.2
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
cookies==2.2.1
idna==2.8
pathtools==0.1.2
Pillow==6.2.0
postcard-creator==0.0.8
python-resize-image==1.1.19
PyYAML==5.1.2
requests==2.22.0
requests-toolbelt==0.9.1
soupsieve==1.9.3
urllib3==1.25.3
